gs #
######################
*.log

# config files #
# ######################
*.credentials
*.yml

# dev output #
# ######################
*.pkl


# model files #
# # ######################
*.pth
*.pkl


# data
# #########################
*.pickle
*.csv 

